<!DOCTYPE html>
<html>
<head>
  <title>CrudProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav_bar brand: "loja", brand_link: root_url do %>
    <%= menu_group do %>
      <%= menu_item "Criar novo produto", new_produto_path %>
      <%= menu_item "Departamentos", departamentos_path %>
    <% end %>
    <%= form_tag search_products_path, method: :get,
     class:"navbar-form navbar-right" do %>
      <div class="form-group">
          <%= text_field_tag :nome, @nome, class:"form-control" %>
          <%= button_to "Buscar", nil, class:"btn btn-default"%>
      </div>
    <% end %>
  <% end %>
  <div class="container">
  <%= yield %>
  </div>

</body>
</html>
